
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.website-main{
    background-image: url("../images/cover-bg.webp");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.header .logo{
    width: 120px;
    height: 50px;
    object-fit: cover;
}

.header ul li a{
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
}
.website-banner h1{
    font-weight: 600;
    font-size: 2.5rem;
}

.website-banner .text-title{
    color: rgb(80, 108, 162);
}

.text-box{
    position: relative;
    z-index: 2;
}
.banner-img-box img{
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 600px;
}

.bg-position {
    background: #ffff0094;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 0;
    top: 174px;
    right: 130px;
    border-radius: 100% 20% 17% 86% / 66% 47% 37% 53%;
}

.card-section .card{
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    border-radius: 8px;
    border: none;
    margin: 1rem 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.card-section .card svg{
    fill: #506ca2;
}

.card-section .card p{
    font-size: 14px;
    width: 70%; 
}
.card-section .card:hover{
    background-color: #feb945;
}
.card-section .card:hover p {
    color: #fff;
}
.card-section .card:hover h4{
    color: #fff;
}
.card-section .card:hover svg{
    fill: #fff;
}


@media only screen and (max-width: 600px) {
    .banner-img-box img{
        height: 270px;
        object-fit : cover;
    }
  }
 